body{
    margin: 0;
    background-color: #000000;
 
}

.presentation{
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
}

.description {
    margin: 15px;
    margin-top: 35px;
    color: #F8B700;
}

.description p {
    color: #ebdec2;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

h1{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #F8B700;
    text-transform: uppercase;
}

h2{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 2em;
    color: #F8B700;
}

.question{
    margin-top: 60px;
}

.carte_titre {
    text-align: center;   
    border: solid 1px #513222;
    margin: 2px;
    background-color: #211510;
    transition: 0.5s;
}

.carte {
    max-width: 33%;
    text-align: center;   
    border: solid 1px #513222;
    margin: 2px;
    background-color: #211510;
    transition: 0.5s;
}

.carte:hover{
    border: solid 1px #F8B700;
    transition: 0.5s;
}

.carte img {
    box-sizing: content-box;
    width: 100%;
    margin: 0;
    border-bottom:solid 1px #513222 ;
    max-height: 60%;
}

.valide {
    display: flex;
    width: 100%;
    height: 70px;
    background-color: #F8B700;
    transition: 0.3s;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #1B1B18;
    align-items: center;
    justify-content: center;
}

.valide:hover{
    background-color: #9F1600;
    transition: 0.3s;
    border:solid 1px #F8B700 ;
    color: #F8B700;
}

/* carte de réponse */
.reponse{
    margin: 2px;
    text-align: center;
    border: solid 1px #513222;
    background-color: #211510;
    color: #ebdec2;
}
.reponse img {
    max-width: 200px;
    margin: 20px;
}


.reponse h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 2em;
    color: #F8B700;
    text-transform: uppercase !important;

}


@media (max-width:800px){
    .carte{
        max-width: 30%;
    }
}

